label {
    font-weight: normal;
    margin-top: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
    background: blue none;
    border: .1rem solid color(border);
    @include border-radius(.4rem);
    color: color(text);
    display: block;
    font-size: 1.6rem;
    height: 3.5rem;
    padding: .5rem 1rem;
    margin: 1.5rem 0;
    vertical-align: middle;
   width: 100%;

    @include respond-to(from-sm) {
        width: 35rem;
    }

    &:focus {
        outline: color(border-dark) .2rem solid;
    }
}

input:disabled {
    background: color(disabled);
    cursor: default;
}

textarea {
    height: 12.5rem;
    max-width: 100%;
    min-height: 12.5rem;
}

button[type="button"],
input[type="submit"],
button{
    appearance: none;
    background: color(primary) ;
    border: .1rem solid color(primary);
    border-radius: $border-radius;
    color: color(text-light);
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 1rem 8rem;
    margin: 2rem 0 0 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .2rem;
    min-width: 25.5rem;
    width: auto;
    //width: 100%;

    &:hover {
        color: color(text-light);
        background: color(primary-variation-1);
        border: .1rem solid #adadad;
    }

    @include respond-to(from-sm){
        width: fit-content;
    }

}


.newsletter {
    padding: 2.5rem 0;
    width: 100%;

    &-form {
        p{
            line-height: $line-height;
        }
    }

    figure {
        margin: 1.5rem  0 0 0;

        @include respond-to(from-lg) {
            margin: 0;
        }
    }
}