html {
    font-size: 62.5%; // Set default px to 10px, so 16px is 1.6rem
}

html,
body {
    font-family: $font;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: auto; // Fixed sticky header#top
    min-height: 100%;
    overflow-x: hidden;
    background-color: color(background);
}
table {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    border-collapse: separate;
    border-spacing: 0;

    tr {
         &:first-child {
    
                th {
                    &:first-child {
                        border-top-left-radius: .5rem;
                    }
    
                    &:last-child {
                        border-top-right-radius: .5rem;
                    }
                }
    
            }
    
            &:last-child {
    
                td {
                    &:first-child {
                        border-bottom-left-radius: .5rem;
                    }
    
                    &:last-child {
                        border-bottom-right-radius: .5rem;
                    }
                }
            }
    
   
    }
     &.table-light-mode {
        padding: 1rem 0;
         color: color(text);
         
         th {
            background:color(background-variation-3);
            text-align: left;
            border-top: solid 1px color(background-variation-4);
            color: color(text-light);

            span {
                padding:0 1rem;
            }
        }
    
    
        td,
        th {
            border-right: .1rem solid color(background-variation-3);
            border-bottom: .1rem solid color(background-variation-3);
        }
    
    
        tr {
    
            th,
            td {
                &:first-child {
                    border-left: .1rem solid color(border-variation-2);
                }
            }
    
           }
        }


    &.table-dark-mode {
         color: color(text-light);
       

        th {
            background: color(background-variation-4);
            border-top: solid 1px color(background);
        }
    
        td,
        th {
            border-right: .1rem solid color(background);
            border-bottom: .1rem solid color(background);
        }
    
        tr {
            th,
            td {
                &:first-child {
                    border-left: .1rem solid color(background);
                }
            }
        }

       .category {
        color: color(text);
        
        }  
    }

    
}


section {
    padding: 5rem 0;
    width: 100%;
}

img {
    max-inline-size: 100%;

    &.content-img {
        @include border-radius($border-radius-large);
        @include box-shadow($box-shadow);
        width: 100%;
        object-fit: cover;

        &-transparent {
            filter: drop-shadow(2px 1px 4px rgba(82, 138, 180, 0.25));
        }
    }
}
hr {
    margin: 2rem 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        height: auto;
        width: 100%;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;

    &.skip-link:focus {
        clip: auto;
        clip-path: none;
        height: auto;
        width: auto;
        left: 0.5rem;
        top: 0.5rem;
        color: color(primary);
        border: 1px solid color(primary);
        padding: 1rem;
    }
}
/**
 * Fontawesome icons changes
 */
 .fa-arrow-up-right-from-square {
    padding: 0 .5rem;
    color: color(primary);
 }

 .fa-hashtag {
    color: color(background-variation-2);
 }

 .fa-circle-check {

    &.variation-1 {
        color: color(background-light);
    }

    &.variation-2 {
        color: color(background-variation-3);
    }
 }
/**
 * Bootstrap changes
 */
 .row {
    row-gap: 1.5rem;
 }

@include respond-to(only-sm) {
    .container,
    .container-sm {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: none;
    }
}

@include respond-to(only-md) {
    .container,
    .container-md {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: none;
    }
}

@include respond-to(only-lg) {
    .container,
    .container-lg {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: none;
    }
}

/**
 * Header
 */
header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 150; // higher z-index than nav.off-canvas-nav .menu
    background: color(background-light);
    padding: 1.3rem 0;

    .row {
        align-items: center;
    }

    .menu-items {
        display: none;

        @include respond-to(from-md) {
            display: inline-block;
        }

        a {
            padding: 2rem;

            &:nth-child(2) {
                // 'mijn frankrijk' with heart icon
                padding: 2rem 2rem 2rem 0.4rem;
            }
        }
    }
}

/**
 * Main
 */

main {
    flex: 1 0 auto;
    min-height: 0.1rem; // This fixes the huge white space on IE11
}


.card {
    height: 35rem;
    width: 100%;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow;
    position: relative;
    overflow: hidden;

    .img-container {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition($transition);
        }
    }

    .card-content {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;
        background: color(background-light);
        width: 100%;
        @include transform(translateY(8.5rem));
        @include transition($transition);

        .category {
            background: color(background-variation-2);
            padding: 0.5rem;
            @include border-radius($border-radius-extra-small);
        }
        h2 {
            height: 5.5rem;
        }

        a,
        button {
            margin: 1.5rem 0;
        }
    }
    &:hover {
        img {
            @include transform(scale(1.1));
        }
        .card-content {
            @include transform(translateY(0));
        }
    }
}

 .category {
     background: color(background-variation-2);
     padding: 0.5rem;
     @include border-radius($border-radius-extra-small);
     width: fit-content;
 }

//Introduction Hero
.introduction-hero {
    background: color(background-variation-2);
    padding: 2.5rem;
    position: relative;
    width: 100%;
    height: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .metadata {
        padding: 0;
        margin: 0;
            
    }
    
}

.metadata {
        padding: 0;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;

      
}


.introduction p {
    columns: 1;
}

//on mobile
@include respond-to(from-sm) {
    .introduction {
        p {
            columns: 2;
        }
    }
}

.company-description {
    background: color(background-variation-3);
    color: color(background-light);
    position: relative;
    overflow: hidden;

    p {
        position: relative;
    }

    img {
        position: relative;
    }
}
.embed-wrapper {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    
    .embed {
            width: 100%;
            position: relative;
            padding: 1rem 0;
            @include border-radius($border-radius-large);
        }
}
// Bron: https://stackoverflow.com/a/36110063

//learning goals
.learn-goals {
    background: color(background-variation-2);
    position: relative;
    overflow: hidden;
    .row {
        row-gap: 1.5rem;
    }
}

.jobtask-overview {
    background: color(background-variation-3);

    // table {
    //     color: color(text-light);
       

    //     th {
    //         background: color(background-variation-4);
    //         border-top: solid 1px color(background);
    //     }
    
    //     td,
    //     th {
    //         border-right: .1rem solid color(background);
    //         border-bottom: .1rem solid color(background);
    //     }
    
    //     tr {
    //         th,
    //         td {
    //             &:first-child {
    //                 border-left: .1rem solid color(background);
    //             }
    //         }
    //     }
    // }

    // .category {
    //     color: color(text);
        
    // }
}



//De bijlages
.resources {
    padding: 2.5rem 0;

    ul {
        row-gap: 1.5rem;
        padding: 0;

        li {
            
            .learning-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: 0.2rem solid color(primary);
                text-align: center;
                padding: 2rem;
            }
        }
    }
}
//circles
.circles {
    background: radial-gradient(
        closest-corner,
        color(transparent) 0% 20%,
        color(primary) 20% 40%,
        color(transparent) 40%
    );
    position: absolute;
    width: 60rem;
    height: 60rem;
    left: -10%;
    bottom: -30%;
}
.circles-variation-2 {
    background: radial-gradient(
        closest-corner,
        color(transparent) 0% 20%,
        color(background-variation-1) 20% 40%,
        color(transparent) 40%
    );
    position: absolute;
    width: 60rem;
    height: 60rem;
    right: -10%;
    top: -30%;
}
//  Bron: go2people dienstenpagina;

// Word cloud
.word-cloud {
    background: color(background-light);
    padding: 1.6rem;
    @include border-radius($border-radius-small);
    @include box-shadow($box-shadow);
    width: auto;
    display: inline-block;
    font-family: "Lato Light", sans-serif;

    word-break: break-word;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    text-align: center;
}


.table-of-contents  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    
    z-index: 200;
    width: 100%;
    height: 100%;
   padding: 2rem;
    @include box-shadow($box-shadow);
    @include transition($transition);
    background: color(background);

    
    .scrolling-toc {
        overflow-y: scroll;
        height: 95%;
       margin-top: 9rem;
        li {
            padding-bottom: 0;
            font-size: 1.6rem;
            a {
                font-size: 1.6rem;
            }
        }

    }

    &.open-table-of-content {
        @include transform(translateX(-100%));
    }
    
}
 .table-of-contents-button {
        position: absolute;
         @include transform(translateX(-10%));
        right: -13%;
        border: 0.1rem solid color(background);
        background: color(primary);
        
        min-width: 5rem;
        padding: 1.5rem;
        margin: 0.5rem 0;
        border-radius: 1.1rem;
        cursor: pointer;
        @include transition($transition);
        color: color(text-light);
        
        span {
            font-size: 1.8rem;
            padding: 0 1.3rem;
        }

        &:hover {
            background: color(background-variation-3);
            @include transform(translateX(15%));
        }
       
    }
@include respond-to(from-md) {
    .table-of-contents {
    top: 0;
    bottom: 0;
    width: fit-content;

    }

    .table-of-contents-button {
        @include transform(translateX(-10%));
        right: -13%;
    }
}
/**
 * Footer
 */

// footer#bottom {

// }
