

.columns-spacing-left {
        padding: 0 0 0 2.5rem;

        h2 {
            margin: 2rem 0 1rem 0;
        }
}

.columns-spacing-right {
        padding: 0 2.5rem 0 0;

        h2 {
            margin: 2rem 0 1rem 0;
        }
    }

// Algemene
.custom-bullet-point{
            list-style: none;
            font-size: 1.7rem;
            position: relative;
            padding-left: 2rem;
    
            &::before {
                content: "\2022";
                position: absolute;
                left: 0;
                top: 0;
                font-weight: bold;
                display: inline-block;
                width: 1rem;
                color: color(primary);
                margin: 0 .5rem 0 0;
            }
        }


.content-img {
    @include border-radius($border-radius-large);
    @include box-shadow($box-shadow);
}

//colored word
.colored-inline-text {
    text-decoration: underline;
    text-underline-offset: 1rem;

    &-variation-1 {
        color: color(primary);
    }

    &-variation-2 {
        color: color(background-variation-1);
    }
}