@mixin respond-to($media) {

    // Exclusively the requested breakpoint
    @if $media == only-xs {
        @media screen and (min-width: 0) and (max-width: $breakpoint-sm-1) {
            @content;
        }
    }
        // Starting at the requested breakpoint
    @else if $media == from-sm {
        @media screen and (min-width: $breakpoint-sm) {
            @content;
        }
    } @else if $media == from-md {
        @media screen and (min-width: $breakpoint-md) {
            @content;
        }
    } @else if $media == from-lg {
        @media screen and (min-width: $breakpoint-lg) {
            @content;
        }
    } @else if $media == from-xl {
        @media screen and (min-width: $breakpoint-xl) {
            @content;
        }
    } @else if $media == from-xxl {
        @media screen and (min-width: $breakpoint-xxl) {
            @content;
        }
    }

    @else if $media == fine {

        @media (pointer: fine), (-ms-high-contrast:none) {
            @content;
        }
    }

    @else if $media == coarse {

        @media (pointer: coarse) {
            @content;
        }
    }
}

@mixin transition($arguments...) {
    -webkit-transition: $arguments;
    -moz-transition:    $arguments;
    -ms-transition:     $arguments;
    -o-transition:      $arguments;
    transition:         $arguments;
}

@mixin transform($arguments...) {
    transform:          $arguments;
    -ms-transform:      $arguments;
    -moz-transform:     $arguments;
    -webkit-transform:  $arguments;
    -o-transform:       $arguments;
}

@mixin background-size($arguments...) {
    -webkit-background-size: $arguments;
    -moz-background-size: $arguments;
    -o-background-size: $arguments;
    background-size: $arguments;
}

@mixin animation($arguments...) {
    -webkit-animation: $arguments;
    -moz-animation: $arguments;
    -ms-animation: $arguments;
    -o-animation: $arguments;
    animation: $arguments;
}

@mixin box-shadow($arguments...) {
    -moz-box-shadow: $arguments;
    -webkit-box-shadow: $arguments;
    box-shadow: $arguments;
}

@mixin border-radius($arguments...) {
    -webkit-border-radius: $arguments;
    -moz-border-radius: $arguments;
    border-radius: $arguments;
}
@mixin columns($arguments...) {
    -webkit-columns: $arguments;
    -moz-columns: $arguments;
    columns: $arguments;
}

@mixin text-underline {
    position: absolute;
    bottom: -.5rem;
    content: '';
    height: 3px;
}

@mixin tags-fonts-style {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.1px;
}

@mixin tags($tags-color) {

        &:first-of-type {
           @include tags-fonts-style;

            &::before {
                @include text-underline;
                height: 2px;
                width: 16rem;
                background: $tags-color;
            }
        }

        &:last-of-type {
            font-size: 1.2rem;
            color: #414143;
            font-weight: 300;
        }

}